$bg:#111318;$sc:#1e1f25;$sc_low:#1a1b20;$sc_lowest:#0c0e13;$sc_high:#282a2f;
$on:#e2e2e9;$on_var:#c4c6d0;$primary:#adc6ff;$pri_cont:#2b4678;$on_pri_c:#d8e2ff;
$outline:#8e9099;$out_var:#44474f;$sec_cont:#3f4759;$tertiary:#debcdf;
